<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>ridiculous obsessions</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>ridiculous obsessions Regular</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>copyright</key>
    <string>""</string>
    <key>trademark</key>
    <string>""</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>xHeight</key>
    <integer>480</integer>
    <key>ascender</key>
    <integer>700</integer>
    <key>descender</key>
    <integer>-300</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>openTypeHeadCreated</key>
    <string>2020/06/08 14:57:59</string>
    <key>openTypeHheaAscender</key>
    <integer>700</integer>
    <key>openTypeHheaDescender</key>
    <integer>-300</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>""</string>
    <key>openTypeNameDesignerURL</key>
    <string>""</string>
    <key>openTypeNameManufacturer</key>
    <string>""</string>
    <key>openTypeNameManufacturerURL</key>
    <string>""</string>
    <key>openTypeNameLicense</key>
    <string>""</string>
    <key>openTypeNameLicenseURL</key>
    <string>""</string>
    <key>openTypeNameVersion</key>
    <string>""</string>
    <key>openTypeNameUniqueID</key>
    <string>"":ridiculous obsessions Regular</string>
    <key>openTypeNameDescription</key>
    <string>""</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>ridiculous obsessions</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>500</integer>
    <key>openTypeOS2VendorID</key>
    <string>XXXX</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>700</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-300</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>708</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>312</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>699</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>140</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>699</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>479</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>49</integer>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>258</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>postscriptFontName</key>
    <string>ridiculousobsessionsRegular</string>
    <key>postscriptFullName</key>
    <string>ridiculous obsessions Regular</string>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>postscriptUnderlineThickness</key>
    <integer>0</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>0</integer>
    <key>guidelines</key>
    <array/>
  </dict>
</plist>
